# Dependencies
node_modules
bun.lockb

# SvelteKit
.svelte-kit
build
.cloudflare

# Output directories
.output
.vercel
.netlify
.wrangler

# Bun specific
.bun

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Testing
test-results
/coverage
/playwright-report
/playwright/.cache

# Environment variables
.env
.env.*
!.env.example
!.env.test

# OS specific
.DS_Store
Thumbs.db

# Editor directories
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln